## Important Questions On DataTypes

In [ ]:
Ques 1: Given a string of odd length greater 7, return a string made of the middle three chars of a given String.

Case 1:
str1 = "NhonDipGood"
Expected Output: Dip

Case 2:
str2 = "HiSonOk"
Expected Output: Son

In [ ]:
Ques 2: Arrange string characters such that lowercase letters should come first.Given an input string with the combination
of the lower and upper case arrange characters in such a way that all lowercase letters should come first.

Given:
str1 = "PyNaTive"
Expected Output: yaivePNT

In [ ]:
Ques 3: Given a two list. Create a third list by picking an odd-index element from the first list and even index elements 
    from second.

For Example: 
    listOne = [3, 6, 9, 12, 15, 18, 21]
    listTwo = [4, 8, 12, 16, 20, 24, 28]

Expected Output:
    Element at odd-index positions from list one : [6, 12, 18]
    Element at even-index positions from list two : [4, 12, 20, 28]
    Printing Final third list : [6, 12, 18, 4, 12, 20, 28]

In [ ]:
Ques 4: Given a two list of equal size create a list such that it shows the element from both lists in the 
    pair.

First List  [2, 3, 4, 5, 6, 7, 8]
Second List  [4, 9, 16, 25, 36, 49, 64]

Expected Output:
Result is  [(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)]

In [ ]:
Ques 5: Concatenate two lists index-wise.
list1 = ["M", "na", "i", "Ar"] 
list2 = ["y", "me", "s", "jun"]

Expected output:
['My', 'name', 'is', 'Arjun']

In [ ]:
Ques 6: Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

Expected output:
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
Ques 7: Initialize dictionary with default values. ## If we access any keys of employees give the default values. 

employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

In [6]:
dict(zip(employees, [defaults]*len(employees)))

{'Kelly': {'designation': 'Application Developer', 'salary': 8000},
 'Emma': {'designation': 'Application Developer', 'salary': 8000},
 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [5]:
data = {}
for key in employees:
    data[key] = defaults
    
pprint(data)

{'Emma': {'designation': 'Application Developer', 'salary': 8000},
 'John': {'designation': 'Application Developer', 'salary': 8000},
 'Kelly': {'designation': 'Application Developer', 'salary': 8000}}

In [3]:
from pprint import pprint
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

d = dict.fromkeys(employees, defaults)
pprint(d)

{'Emma': {'designation': 'Application Developer', 'salary': 8000},
 'John': {'designation': 'Application Developer', 'salary': 8000},
 'Kelly': {'designation': 'Application Developer', 'salary': 8000}}

In [ ]:
Ques 8: Given a Python dictionary, Change Bradâ€™s salary to 8500.
    
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

Expected output:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 8500}  ## Value salary = 8500.
}

In [ ]:
Ques 9: Exercise Question 5: Given a two Python list. Iterate both lists simultaneously such that list1 should display 
        item in original order and list2 in reverse order.
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

Expected output:
    10 400
    20 300
    30 200
    40 100

In [ ]:
Ques 10: Given a Python list. Turn every item of a list into its square.
aList = [1, 2, 3, 4, 5, 6, 7]

Expected output: [1, 8, 27, 64, 125, 216, 343]